.lmj-banner{
    color: black;
    text-align: center;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
	justify-content: flex-end;
	align-items: center;
    position: flex;
    height: 50px;
}