.lmj-cart {
    color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 10%;
    align-items: center;
    position: flex;
    height: auto; 
    min-height: 100%;
}

.lmj-close-button {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.lmj-empty-button {
    cursor: pointer;
    width: 150px;
}